html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0px;
  width: 100%;
}

.container {
  width: 960px;
  display: flex;
}

.headertop {
  background-color: black;
  display: flex;
  height: 2.82rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headertop h4 {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.headertop img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.headerbox {
  background-color: black;
  width: 20rem;
  margin-top: 11.82rem;
  font-weight: bold;
  padding: 2rem 3rem;
}

.headerbox h3 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.headerbox span {
  font-size: 1rem;
}

.header {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30.32rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  background-color: firebrick;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav a:visited {
  color: white;
}

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainbox {
  width: 30%;
  margin-top: 3rem;
  border: 4px solid black;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
}

.mainbox span {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.imgcontainer {
  display: flex;
  height: 9rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.mainbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.glasses {
  height: auto;
  max-width: 100%;
  display: block;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.business {
  display: flex;
  justify-content: space-between;
}

.blackbox {
  display: flex;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.whitebox {
  display: flex;
  background-color: white;
  color: black;
  margin-bottom: 4rem;
}

.location,.hours {
  width: 35%;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  text-align: left;
  height: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* remove when done */

div {
  border: red 1px solid;
}
